# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Environment variables
*.env

# Byte-compiled files
*.pyo

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/